div:nth-of-type(1){
    background-color: rgb(146, 146, 146);
    width: 300px;
    height: 300px;
    margin: 50px;
    animation: mymove 3s infinite;
}
div:nth-of-type(2) {
    background-color: rgb(213, 43, 43);
    width: 300px;
    height: 300px;
    margin: 50px;
    animation: mymove2 3s infinite;
}
 

@keyframes mymove {
    0% {
        transform: rotate(90deg);
    }
    25% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes mymove2 {
    from {
        transform: rotate(90deg);

    }
    to {
        transform: rotate(360deg);
    }
    
}